html{width:80%;height:auto;}
.ui-mobile [data-role=page],
.ui-mobile [data-role=popup],
.ui-mobile [data-role=dialog],
.ui-page
{
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}
.ui-popup-container
{
    width:100%;
    height: 100%;
}
p{font-weight:bold;}
label{float:left;font-weight:bold;}
input{font-weight:bold;}
.ac11 { font-weight:bold;}
.aui
{
    width: 200px;
    text-align: left;
}
.lui
{
    text-align: left;
}
.rui
{
    width: 85%;
    margin-left:3.6%;
}
span
{
    font-size: 135%;
    font-weight:bold;
;}
.abtn
{
    margin-top: 17px;
}

@media all  {
    .my-breakpoint.ui-grid-b .ui-block-a { width: 33%; }
    .my-breakpoint.ui-grid-b .ui-block-b { width: 33%; }
    .my-breakpoint.ui-grid-b .ui-block-c { width: 33%; }
}
.background1 {
    background: url(tools1/background.jpg) no-repeat center center;
}
.emailBox {
    padding-bottom: 20px;
}

.messageBox {
    padding-bottom: 20px;
}

label {
    line-height: 22px;
}

label::after {
    content: ":";
}